In [19]:
#%pip install --ignore-installed --upgrade tensorflow 
#%pip install opencv-python
#%pip install --upgrade albumentations --user
#%pip install pandas
#%pip install numpy
#%pip install matplotlib

In [20]:
import pandas as pd
import numpy as np
from tensorflow.keras.applications import vgg19
import albumentations as A # used for image augmentation
from PIL import Image #used for importing images
import re
import os,glob
import cv2
import matplotlib.pyplot as plt

In [21]:
data = pd.read_csv('./Genshin_Dataset.csv')
data.head()

,Name,Model,Region,Vision,Weapon,Revenue,Year Released
0,Albedo,https://i.postimg.cc/vHqgw9cj/unnamed.jpg,Mondstadt,Geo,Sword,"$11,816,107",2021
1,Ayaka,https://i.postimg.cc/mZP9x58Q/ayaka.jpg,Inazuma,Cryo,Sword,"$16,451,006",2021
2,Ayato,https://i.postimg.cc/3JpDNDMN/ayato.jpg,Inazuma,Hydro,Sword,"$14,481,796",2022
3,Childe (Tartaglia),https://i.postimg.cc/RZBJHV9R/childe.jpg,Liyue,Hydro,Bow,"$13,443,619",2020
4,Cyno,https://i.postimg.cc/bNHN40cx/cyno.jpg,Sumeru,Electro,Polearm,"$13,797,833",2022

In [22]:
# given the filepath to the image, we can visualize the image
def visualize(image):
    plt.figure(figsize=(10, 10))
    plt.axis('off')
    plt.imshow(image)

In [23]:
# transformations
vertical_transform = A.Compose([A.VerticalFlip(p=1)])
horizontal_transform = A.Compose([A.HorizontalFlip(p=1)])
#clahe_transform = A.Compose([A.CLAHE(p=1)]) # enhances the picture's contrast and brightness

In [24]:
# iterates over the character images in the folder 
# returns a tuple where the 3rd element is a list of the character names
images_arr = []
for e_image in os.walk('./Genshin Characters/'):
    #print(e_image)

    # iterates over the list of the character names
    for img_name in e_image[2]:
        curr = []
        file_path = './Genshin Characters/{}'.format(img_name)
        image = cv2.imread(file_path)
        image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
        curr.append(image)
        # transform function takes in the image as the parameter
        # the output is a dictionary with 'image' as the key and the transformed image as the value
        # so, we extract the value by giving it the key
        vertical_image = vertical_transform(image=image)['image'] 
        horizontal_image = horizontal_transform(image=image)['image']
        both_image = horizontal_transform(image=vertical_image)['image']
        #clahe_image = clahe_transform(image=image)['image']
        #visualize(image) 
        #visualize(vertical_image)
        #visualize(horizontal_image)
        #visualize(both_image)
        #visualize(clahe_image)
        curr.append(vertical_image)
        curr.append(horizontal_image)
        curr.append(both_image)
        images_arr.append(curr)

In [27]:
revenues = data['Revenue']
revenues.map(lambda x: int(re.sub(",", "", x[1:]))) # removes $ and commas from the revenue

0     11816107
1     16451006
2     14481796
3     13443619
4     13797833
5     12619390
6     15669918
7     12481634
8     13404072
9      9807112
10     9505798
11    22750080
12     7020975
13    29940345
14    12148301
15    33020905
16     6825814
17     7745505
18    30632752
19    13145115
20    15110264
21    23302462
22     8615144
23    16264892
Name: Revenue, dtype: int64